name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Build package
        run: uv run python -m build

      - uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist/*

      - name: Create release
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: ${{ github.ref_name }}
        run: |
          VERSION=${TAG#v}
          gh release create "$TAG" --title="$VERSION" dist/*
